/* src/components/Home.css */
.home-page {
  margin-left: 220px; /* leave space for sidebar */
  padding: 20px;
}

.home-page h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.home-page p {
  font-size: 18px;
}
