/* Sidebar.css */

.sidebar {
  width: 200px;
  background-color: #282c34;
  color: white;
  padding: 20px;
  height: 100vh; /* FULL height */
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
